VITE_BACKEND_URL = "http://localhost:8502/api"
VITE_ENABLE_SSO = "true"

## below used for localhost playwright testing only
#- for prod use only SSO to allow for MFA
VITE_ENABLE_DIRECT_LOGIN = "true"
