.github/workflows/profile.publishsettings
frontend/.gitignore
backend/.venv/*
frontend/.env
backend/.azure
backend/.env2.yml
.env
backend/venv/*
backend/app.log
backend/log/generate_proposal_log.txt
push.sh
backend/log/app.log
backend/log/generate_proposal_log.txt
backend/log/generate_proposal_log.txt
/frontend/node_modules/
logs/*
playwright/tests/__pycache__/*
prez/arc/*
prez/output/*
prez/samples/*
prez/voices//*
prez/venv/*
frontend_dev.log
file::memory:
playwright/tests/__pycache__/*
db/arc/*
log/*
backend/log/*
backend/knowledge/*
log/log_knowledge.txt
backend/2.env
nltk_data/
.vibe/*
.specify/extensions/*
.specify/integrations/*
.specify/scripts/
.specify/templates/*
.specify/extensions.yml
.specify/init-options.json
.specify/integration.json
backend/sp_connector.log
db/migrations/*
docs/plans/*
scratch.py
db/migrations/*
docs/arc/*
playwright/test-results/*
