.github/workflows/profile.publishsettings
frontend/.gitignore
backend/.venv/*
frontend/.env
backend/.azure
backend/.env2.yml
.env
backend/venv/*
backend/app.log
backend/log/generate_proposal_log.txt
push.sh
backend/log/app.log
backend/log/generate_proposal_log.txt
backend/log/generate_proposal_log.txt
/frontend/node_modules/
logs/*
playwright/tests/__pycache__/*
playwright/tests/__pycache__/test_1_register.cpython-310-pytest-8.4.1.pyc
playwright/tests/__pycache__/test_2_create_proposal.cpython-310-pytest-8.4.1.pyc
prez/arc/*
prez/output/*
prez/samples/*
prez/voices//*
prez/venv/*
frontend_dev.log
file::memory:
playwright/tests/__pycache__/*
db/arc/*
log/*
backend/log/*
backend/knowledge/*
log/log_knowledge.txt
backend/2.env
nltk_data/
.vibe/*
.specify/extensions/git/commands/speckit.git.commit.md
.specify/extensions/git/commands/speckit.git.feature.md
.specify/extensions/git/commands/speckit.git.initialize.md
.specify/extensions/git/commands/speckit.git.remote.md
.specify/extensions/git/commands/speckit.git.validate.md
.specify/extensions/.registry
.specify/extensions/git/config-template.yml
.specify/extensions/git/extension.yml
.specify/extensions/git/git-config.yml
.specify/extensions/git/README.md
.specify/extensions/git/scripts/bash/auto-commit.sh
.specify/extensions/git/scripts/bash/create-new-feature.sh
.specify/extensions/git/scripts/bash/git-common.sh
.specify/extensions/git/scripts/bash/initialize-repo.sh
.specify/extensions/git/scripts/powershell/auto-commit.ps1
.specify/extensions/git/scripts/powershell/create-new-feature.ps1
.specify/extensions/git/scripts/powershell/git-common.ps1
.specify/extensions/git/scripts/powershell/initialize-repo.ps1
.specify/integrations/speckit.manifest.json
.specify/integrations/vibe.manifest.json
.specify/integrations/vibe/scripts/update-context.ps1
.specify/integrations/vibe/scripts/update-context.sh
.specify/scripts/bash/check-prerequisites.sh
.specify/scripts/bash/common.sh
.specify/scripts/bash/create-new-feature.sh
.specify/scripts/bash/setup-plan.sh
.specify/scripts/bash/update-agent-context.sh
.specify/templates/agent-file-template.md
.specify/templates/checklist-template.md
.specify/templates/constitution-template.md
.specify/templates/plan-template.md
.specify/templates/spec-template.md
.specify/templates/tasks-template.md
.specify/extensions.yml
.specify/init-options.json
.specify/integration.json
