.github/workflows/profile.publishsettings
frontend/.gitignore
backend/.venv/*
frontend/.env
backend/.azure
backend/.env2.yml
.env
backend/venv/*
backend/app.log
backend/log/generate_proposal_log.txt
push.sh
backend/log/app.log
backend/log/generate_proposal_log.txt
backend/log/generate_proposal_log.txt
/frontend/node_modules/
logs/*
playwright/tests/__pycache__/*
playwright/tests/__pycache__/test_1_register.cpython-310-pytest-8.4.1.pyc
playwright/tests/__pycache__/test_2_create_proposal.cpython-310-pytest-8.4.1.pyc
prez/arc/*
prez/output/*
prez/samples/*
prez/voices//*
prez/venv/*
