# Ignore virtual environment
uc1_env/
proposal-documents/

# Ignore environment variable files
.env

# Ignore python virtual environment 
.venv

# Ignore Python cache files
__pycache__/
*.py[cod]

file::memory:

