python-dotenv
fastapi
redis
crewai
python-docx 
langchain
langchain-openai
langchain-community
sqlalchemy 
psycopg2-binary 
python-dotenv 
PyJWT 
werkzeug
reportlab
apscheduler
cloud-sql-python-connector[asyncpg]
cloud-sql-python-connector[pg8000]
google-cloud-secret-manager