.Dashboard {
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        padding-bottom: 5px;
}

.Dashboard_top {
        display: flex;
        align-items: flex-center;
        justify-content: space-between;
        gap: 30px;

        max-width: 100%;
        overflow: hidden;
        min-height: fit-content;

        padding: 30px;
        padding-bottom: 16px;
}

.Dashboard_label {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        gap: 12.5px;

        font-family: "Noto";
        font-weight: 350;
        font-size: 26px;
        height: 26px;
        line-height: 26px;

        color: #222222;
}

.Dashboard_label_fileIcon {
        height: 22px;
}

.Dashboard_sectionHeading {
        margin-left: 30px;
        margin-top: 15px;

        font-family: "Noto";
        font-size: 18px;
        font-weight: 550;
}

.Dashboard_search {
        margin-left: 30px;
        margin-bottom: 10px;

        background: white;

        border-radius: 40px;

        display: flex;
        align-items: center;
        gap: 12.5px;
        width: 100%;
        max-width: 320px;
        min-height: 24px;

        padding: 8px 16px;

        box-sizing: content-box;

        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.Dashboard_search > img {
        height: 12.5px;
}

.Dashboard_search_input {
        display: flex;
        flex-grow: 1;

        border: none;
        outline: none;

        font-family: "Noto";
        font-weight: 350;
        font-size: 14px;
}

.Dashboard_noDraftsNotice {
        font-family: "noto";
        font-weight: 300;
        font-size: 32px;
}

.Dashboard_projects {
        padding: 0 30px;
        padding-top: 0.5px;

        margin-top: 15px;
        margin-right: 5px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);

        overflow-y: auto;
        gap: 25px;

        padding-right: 22.5px;
        padding-bottom: 20px;
}

@media (max-width: 1150px) {
        .Dashboard_projects {
                grid-template-columns: repeat(2, 1fr);
        }
}

@media (max-width: 790px) {
        .Dashboard_projects {
                grid-template-columns: repeat(1, 1fr);
        }
}
