.Login_divider
{
        display: flex;
        align-items: center;
        text-align: center;
        margin: 20px 0;
}
.Login_divider hr
{
        flex: 1;
        border: none;
        height: 1px;
        background-color: #CCC;
}
.Login_divider span
{
        padding: 0 10px;
        color: #888;
}

.Login_container {
        height: 100svh;
        display: flex;
        flex-direction: column;
        overflow: hidden;
}

.Login {
        display: flex;
        max-height: calc(100svh - 65px);
}

.Login-errorPopover:popover-open {
        background: #FF0000;
        width: 450px;
        max-width: 90%;
        height: 65px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0 15px;

        font-family: "Noto";
        font-weight: 600;
        color: #fff;
        font-size: 18px;

        border: none;
        border-radius: 15px;

        top: 15px;
        margin: 0 auto;

        transition: display 0.2s ease-in;
}

.Login-left {
        width: 100%;
        height: 100%;
        overflow: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
}

.Login-appLogo {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 17.5px;

        gap: 15px;
}

.Login-logo {
        height: 60px;
}

.Login-form {
        /* margin-top: -10px; Negate top margin of first label */

        width: 100%; /* Trigger it to grow in width */
        max-width: 390px; /* Then stop it at our required limit, thus making it responsive */
        padding: 0 50px;
        margin-top: 24px;

        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        overflow: hidden;
}

.Login_form-header {
        font-family: "Noto";
        font-weight: 400;
        font-size: 20px;

        margin-bottom: 5px;
        /* text-align: center; */
}

.Login-label {
        margin-top: 16px;

        font-family: "Noto";
        font-weight: 350;
        font-size: 14px;
        /* color: #414141; */
}

.Login-form > input,
.Login-form > select {
        border: 1px solid #D4D7E3;
        border-radius: 5px;

        background: #F7FBFF;

        padding: 0 15px;

        width: 100%;
        height: 40px;

        font-family: 'Noto';
        font-weight: 350;
        font-size: 14px;

        margin-top: 8px;

        outline: none;
}

input.Login_inputPassword {
        padding-right: 47.5px;
}

.Login-form > select {
        outline: 1px solid #D4D7E3;
        border: none;
        border-right: 15px solid transparent;
        cursor: pointer;
}
.Login-form > select > option:disabled {
        color: rgb(117, 117, 117);
}
.Login-form > select > option {
        color: #000;
}

.Login_showPasswordToggleContainer {
        display: flex;
        justify-content: flex-end;
        padding-right: 15px;
}

.Login_passwordShowToggle {
        margin-top: -30px;
        height: 20px;
        display: block;

        cursor: pointer;
}

.Login-forgotpw {
        font-family: "Noto";
        font-size: 12px;
        font-weight: 400;
        color: #0033AE;

        display: block;
        margin-top: 12px;
        text-align: right;
        text-decoration: none;

        cursor: pointer;
}

.Login-submit {
        margin-top: 20px;

        width: 100%;
        outline: none;
        border: none;

        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;

        font-family: "Noto";
        font-weight: 350;
        font-size: 14px;
        color: #fff;

        background: hsl(222, 100%, 34%);
        height: 48px;
        border-radius: 50px;

        box-shadow: 0px 5px 10px 0px #1053B133;

        cursor: pointer;
}

.submitButtonSpinner {
        height: 22.5px;
        aspect-ratio: 1;
        border: 5px solid hsla(0, 0%, 100%, 0.5);
        border-bottom-color: white;
        border-radius: 50%;
        animation: rotation 1s linear infinite;

        display: flex;
        flex-shrink: 0;
}

@keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
}

.Login-submit:disabled {
        cursor: not-allowed;

        /* background: hsl(222, 100%, 90%); */

        /* box-shadow: none; */
}

.Login-errorNotice {
        margin-top: 20px;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        height: 15px;
}

.Login_form_errorNotice-bang {
        height: 15px;
        margin-right: 5px;
}

.Login_form_errorNotice-label {
        font-family: "Noto";
        font-size: 12px;
        color: brown;
}

.Login-register {
        font-family: "Noto";
        font-size: 14px;
        font-weight: 350;

        margin-top: 24px;
        text-align: center;
}

.Login-register > a {
        color: #1E4AE9;
        cursor: pointer;
        text-decoration: none;
}

.Login-motto {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 50px;
        max-width: 390px;
        padding: 0 50px;
}

.Login-motto-item {
        display: flex;
        align-items: center;
        gap: 15px;
}

.Login-motto-icon {
        font-size: 1.5rem;
        color: #0033AE;
        width: 30px;
        text-align: center;
}

.Login-motto-text {
        font-family: "Noto";
        font-weight: 350;
        font-size: 14px;
}
