.Dashboard_project {
        height: 250px;
        min-width: 100%;
        max-width: 590px;
        background: white;

        border: none;
        outline: none;
        border-radius: 10px;

        display: flex;
        flex-direction: column;
        gap: 15px;

        padding: 20px 30px;

        cursor: pointer;

        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        position: relative;
}

.Dashboard_project.popover-active {
    z-index: 10;
}


.Dashboard_project_title {
        display: flex;
        justify-content: space-between;
        font-family: "Noto";
        font-weight: 400;
        font-size: 16px;

        position: relative;
}

.Dashboard_project_tripleDotsContainer > img {
        height: 16px;

        cursor: pointer;
}

.Dashboard_project_tripleDotsContainer {
        border: none;
        outline: none;
        background: transparent;
}

.Project_optionsPopover {
        display: none;
        width: 105px;

        position: absolute;

        margin: 0;
        inset: auto;

        top: 24px;
        right: 0;

        margin-top: 24px;

        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        border: none;

        border-radius: 8px;
        background-color: white;
        z-index: 20;
}

.Project_optionsPopover.visible {
    display: block;
}

.Project_optionsPopover_option {
        padding: 8px 16px;

        display: flex;
        align-items: center;
        gap: 8px;

        font-family: "Noto";
        font-size: 14px;

        cursor: pointer;
}

.Project_optionsPopover_option:hover {
        background: hsl(0, 0%, 90%);
}

.Project_optionsPopover_option > img {
        height: 16px;
}

.Project_optionsPopover_option.disabled {
    color: #ccc;
    cursor: not-allowed;
    background-color: #f9f9f9;
}

.Project_optionsPopover_option.disabled:hover {
    background-color: #f9f9f9;
}

.Dashboard_project_description {
        font-family: "Noto";
        font-weight: 350;
        font-size: 12px;
        color: #5A656D;
        text-align: left;

        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;

        position: relative;
}

.Dashboard_project_fade {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        box-shadow: inset 0px -20px 20px -10px rgba(255, 255, 255, 1);
}

.Dashboard_project_footer {
        display: flex;
        justify-content: space-between;
}

.Dashboard_project_date {
        display: flex;
        align-items: center;
        gap: 15px;
        font-family: "Noto";
        font-weight: 400;
        font-size: 14px;
        color: #141419;
        width: 200px;

        line-height: 8px;
}

.Dashboard_project_label {
        height: 25px;

        border-radius: 100px;

        padding: 0 12.5px;

        font-family: "Noto";
        font-weight: 350;
        font-size: 12px;
        line-height: 18px;

        color: white;

        text-align: center;
        display: flex;
        align-items: center;
        flex-shrink: 0;
}