// Include any default variable overrides here.
@import "fonts"; // Fonts.
@import "variables";
@import "../../node_modules/bootstrap/scss/mixins/banner";
@include bsBanner("");


// scss-docs-start import-stack
// Configuration
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";

// Helpers
@import "../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities/api";


.icon {
  object-fit: contain;
}

body {
  @include media-breakpoint-down(sm) {
    @include font-size(1rem);
  }
}

img {
  width: 100%;
  object-fit: cover;
}

.img-container {
  position: relative;
}

.img-caption {
  font-size: $font-size-md;
  color: $black-60;
  padding-top: 10px;

  @include media-breakpoint-down(sm) {
    font-size: $font-size-xs;
  }

  &-light {
    color: $white;
  }

  &-dark {
    color: $black-60;
  }
}

.date {
  font-size: $font-size-sm;
}

h1, .h1 {
  line-height: 1.1 !important;
  @include media-breakpoint-down(sm) {
    line-height: 1.17 !important;
  }
}

h2, .h2 {
  line-height: 1.23 !important;
  @include media-breakpoint-down(sm) {
    line-height: 1.34 !important;
  }
}

h3, .h3 {
  line-height: 1.285 !important;
  @include media-breakpoint-down(sm) {
    line-height: 1.18 !important;
  }
}

h4, .h4 {
  line-height: 1.18 !important;
  @include media-breakpoint-down(sm) {
    line-height: 1.2 !important;
  }
}

h5, .h5 {
  line-height: 1.4 !important;
  @include media-breakpoint-down(sm) {
    line-height: 1.2 !important;
  }
}

h6, .h6 {
  line-height: 1.4 !important;
  @include media-breakpoint-down(sm) {
    line-height: 1.2 !important;
  }
}

.display-1 {
  line-height: 1.1 !important;

  @include media-breakpoint-down(sm) {
    line-height: 1.17 !important;
  }
}

.display-2 {
  line-height: 1.23 !important;

  @include media-breakpoint-down(sm) {
    line-height: 1.34 !important;
  }
}

.display-3 {
  line-height: 1.285 !important;

  @include media-breakpoint-down(sm) {
    line-height: 1.18 !important;
  }
}

.display-4 {
  line-height: 1.18 !important;

  @include media-breakpoint-down(sm) {
    line-height: 1.2 !important;
  }
}

.display-5 {
  line-height: 1.4 !important;

  @include media-breakpoint-down(sm) {
    line-height: 1.2 !important;
  }
}

.display-6 {
  line-height: 1.4 !important;

  @include media-breakpoint-down(sm) {
    line-height: 1.2 !important;
  }
}

.subtle-text {
  color: #666666;
}

.w-fit-content {
  width: fit-content;
}

.title-tag {
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  font-size: $font-size-xs;
}
