// ProximaNova - Regular.
@font-face {
  font-family: 'ProximaNova';
  src: url("../assets/fonts/ProximaNova/proximanova-regular-webfont.eot");
  src: url("../assets/fonts/ProximaNova/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/ProximaNova/proximanova-regular-webfont.woff2") format("woff2"),
  url("../assets/fonts/ProximaNova/proximanova-regular-webfont.woff") format("woff"),
  url("../assets/fonts/ProximaNova/proximanova-regular-webfont.ttf") format("truetype"),
  url("../assets/fonts/ProximaNova/proximanova-regular-webfont.svg") format("svg");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

// ProximaNova - Bold
@font-face {
  font-family: 'ProximaNova';
  src: url("../assets/fonts/ProximaNova/proximanova-bold-webfont.eot");
  src: url("../assets/fonts/ProximaNova/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/ProximaNova/proximanova-bold-webfont.woff2") format("woff2"),
  url("../assets/fonts/ProximaNova/proximanova-bold-webfont.woff2") format("woff"),
  url("../assets/fonts/ProximaNova/proximanova-bold-webfont.ttf") format("truetype"),
  url("../assets/fonts/ProximaNova/proximanova-bold-webfont.svg") format("svg");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

// Lato - Regular
@font-face {
  font-family: 'Lato';
  src: url("../assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

// Lato - Bold
@font-face {
  font-family: 'Lato';
  src: url("../assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
