.card-references ul {
    margin-top: 5px;
    padding-left: 20px;
}

.card-references li {
    font-size: 0.8rem;
    margin-bottom: 3px;
}

.card-references a {
    color: var(--primary-color);
    text-decoration: none;
}

.card-references a:hover {
    text-decoration: underline;
}

.card-references_date {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: "Noto";
    font-weight: 400;
    font-size: 14px;
    color: #141419;
    width: 200px;

    line-height: 8px;
}